<div class="stackedit__html">
  <center>
    <h1>{{ .Title }}</h1>
  </center>
  <pre class="language-bash">
    <code class="prism language-bash">$ <span class="token keyword">:</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">{</span> <span class="token keyword">:</span><span class="token operator">|</span><span class="token keyword">:</span> <span class="token operator">&amp;</span> <span class="token punctuation">}</span><span class="token punctuation">;</span><span class="token keyword">:</span>
  </code></pre>
  <br>
  <div class="mermaid"><svg xmlns="http://www.w3.org/2000/svg" id="mermaid-svg-QbYns2eZRuaB66Pc" width="100%"
      style="max-width: 1008.140625px;" viewBox="0 0 1008.140625 62">
      <g transform="translate(-12, -12)">
        <g class="output">
          <g class="clusters"></g>
          <g class="edgePaths"></g>
          <g class="edgeLabels"></g>
          <g class="nodes">
            <g class="node" id="author" transform="translate(68.109375,43)" style="opacity: 1;">
              <rect rx="5" ry="5" x="-48.109375" y="-23" width="96.21875" height="46"></rect>
              <g class="label" transform="translate(0,0)">
                <g transform="translate(-38.109375,-13)">
                  <foreignObject width="76.21875" height="26">
                    <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">
                      <router-link :to="{ name: 'author' }" replace>
                        Об авторе
                      </router-link>
                    </div>
                  </foreignObject>
                </g>
              </g>
            </g>
            <g class="node" id="project" transform="translate(203.46875,43)" style="opacity: 1;">
              <rect rx="5" ry="5" x="-37.25" y="-23" width="74.5" height="46"></rect>
              <g class="label" transform="translate(0,0)">
                <g transform="translate(-27.25,-13)">
                  <foreignObject width="54.5" height="26">
                    <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">
                      <router-link :to="{ name: 'project' }" replace>
                        Проект
                      </router-link>
                    </div>
                  </foreignObject>
                </g>
              </g>
            </g>
            <g class="node" id="keydefs" transform="translate(371.46875,43)" style="opacity: 1;">
              <rect rx="5" ry="5" x="-80.75" y="-23" width="161.5" height="46"></rect>
              <g class="label" transform="translate(0,0)">
                <g transform="translate(-70.75,-13)">
                  <foreignObject width="141.5" height="26">
                    <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">
                      <router-link :to="{ name: 'keydefs' }" replace>
                        Ключевые понятия
                      </router-link>
                    </div>
                  </foreignObject>
                </g>
              </g>
            </g>
            <g class="node" id="resources" transform="translate(612.796875,43)" style="opacity: 1;">
              <rect rx="5" ry="5" x="-110.578125" y="-23" width="221.15625" height="46"></rect>
              <g class="label" transform="translate(0,0)">
                <g transform="translate(-100.578125,-13)">
                  <foreignObject width="201.15625" height="26">
                    <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">
                      <router-link :to="{ name: 'resources' }" replace>
                        Информационные ресурсы
                      </router-link>
                    </div>
                  </foreignObject>
                </g>
              </g>
            </g>
            <g class="node" id="multimedia" transform="translate(892.7578125,43)" style="opacity: 1;">
              <rect rx="5" ry="5" x="-119.3828125" y="-23" width="238.765625" height="46"></rect>
              <g class="label" transform="translate(0,0)">
                <g transform="translate(-109.3828125,-13)">
                  <foreignObject width="218.765625" height="26">
                    <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">
                      <router-link :to="{ name: 'multimedia' }" replace>
                        Мультимедийные материалы
                      </router-link>
                    </div>
                  </foreignObject>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg></div>
  <div class="mermaid"><svg xmlns="http://www.w3.org/2000/svg" id="mermaid-svg-8x4oz5EWnPVcf08d" width="100%"
      style="max-width: 926.921875px;" viewBox="0 0 926.921875 62">
      <g transform="translate(-12, -12)">
        <g class="output">
          <g class="clusters"></g>
          <g class="edgePaths"></g>
          <g class="edgeLabels"></g>
          <g class="nodes">
            <g class="node" id="motivationPresentation" transform="translate(138.1171875,43)" style="opacity: 1;">
              <rect rx="5" ry="5" x="-118.1171875" y="-23" width="236.234375" height="46"></rect>
              <g class="label" transform="translate(0,0)">
                <g transform="translate(-108.1171875,-13)">
                  <foreignObject width="216.234375" height="26">
                    <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">
                      <router-link :to="{ name: 'motivationPresentation' }" replace>
                        Мотивационная презентация
                      </router-link>
                    </div>
                  </foreignObject>
                </g>
              </g>
            </g>
            <g class="node" id="poll" transform="translate(370.8046875,43)" style="opacity: 1;">
              <rect rx="5" ry="5" x="-64.5703125" y="-23" width="129.140625" height="46"></rect>
              <g class="label" transform="translate(0,0)">
                <g transform="translate(-54.5703125,-13)">
                  <foreignObject width="109.140625" height="26">
                    <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">
                      <router-link :to="{ name: 'poll' }" replace>
                        Сетевой опрос
                      </router-link>
                    </div>
                  </foreignObject>
                </g>
              </g>
            </g>
            <g class="node" id="mindmap" transform="translate(558.3125,43)" style="opacity: 1;">
              <rect rx="5" ry="5" x="-72.9375" y="-23" width="145.875" height="46"></rect>
              <g class="label" transform="translate(0,0)">
                <g transform="translate(-62.9375,-13)">
                  <foreignObject width="125.875" height="26">
                    <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">
                      <router-link :to="{ name: 'mindmap' }" replace>
                        Интеллект-карта
                      </router-link>
                    </div>
                  </foreignObject>
                </g>
              </g>
            </g>
            <g class="node" id="finalPresentation" transform="translate(806.0859375,43)" style="opacity: 1;">
              <rect rx="5" ry="5" x="-124.8359375" y="-23" width="249.671875" height="46"></rect>
              <g class="label" transform="translate(0,0)">
                <g transform="translate(-114.8359375,-13)">
                  <foreignObject width="229.671875" height="26">
                    <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; white-space: nowrap;">
                      <router-link :to="{ name: 'finalPresentation' }" replace>
                        Итоговая презентация проекта
                      </router-link>
                    </div>
                  </foreignObject>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg></div>
  <hr>
</div>
